/* переменные */
:root {
    --base-color-green:#6AC75A;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #111;
}

.container {
    background-color: #6AC75A;
    max-width: 1140px;
    margin: 0 auto;
    width: 80%;
}


/* типография */
.paragraph-03 {
    letter-spacing: -0.3px;
    font-size: 14px;
    line-height: 24px;
    opacity: 50%;
}
.article {
    letter-spacing: -0.4px;
    font-size: 22px;
    line-height: 32px;
    opacity: 50%;
}
.intro-heading {
    letter-spacing: -3.6px;
    font-size: 78px;
    line-height: 78px;
}