/* шапка */
.btn, a.btn {
    display: inline-block;
    background-color: var(--base-color-green);
    transition: opacity 0.2s ease;
}
.btn-cart {
    border-radius: 50%;
    min-width: 22px;
    min-height: 22px;
    margin-left: 10px;
}

/* анимация ховера */
.btn:hover, a.btn:hover {
    opacity: 0.7;
    color:#fff;
}


/* первая стр */

/* кнопка колва */
.amount {
    text-align: center; 
}
.amount-button {
    display: inline-flex;
    justify-content: center;
    width: 70px;
    color: #A9ABBD;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid #E1E4EB;
    margin-right: 15px;
}
.btn-big {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    background-color: var(--base-color-green);
    padding: 13px 38px;
    min-height: 50px;
    font-weight: 500;
}
.submit {
    font-weight: 500;
}


.chat-button {
     position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    border-radius: 50%;
    min-width: 65px;
    min-height: 65px;
    background: url("/img/Button.svg") center center no-repeat;
    background-size: 105%;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 18%);
    cursor: pointer;
    transition: opacity 0.2s ease;
}
